.component-4-child18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-400);
}
.component-4-child19 {
  position: absolute;
  height: 33.33%;
  width: 1.39%;
  top: 32.5%;
  right: 71.65%;
  bottom: 34.17%;
  left: 26.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo-select2 {
  position: absolute;
  height: 66.67%;
  width: 2.78%;
  top: 16.67%;
  right: 95.97%;
  bottom: 16.67%;
  left: 1.25%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  mix-blend-mode: lighten;
}
.logo-full-colour-icon2,
.profile-icon2 {
  position: absolute;
  height: 33.33%;
  width: 1.81%;
  top: 33.33%;
  right: 96.46%;
  bottom: 33.33%;
  left: 1.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile-icon2 {
  height: 66.67%;
  width: 2.78%;
  top: 16.67%;
  right: 1.39%;
  bottom: 16.67%;
  left: 95.83%;
  object-fit: cover;
}
.component-4-child20 {
  right: 92.71%;
  left: 4.51%;
  display: none;
}
.component-4-child20,
.component-4-child21,
.component-4-child22,
.component-4-child23,
.component-4-child24,
.component-4-child25 {
  position: absolute;
  height: 66.67%;
  width: 2.78%;
  top: 15%;
  bottom: 18.33%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  mix-blend-mode: lighten;
}
.component-4-child21 {
  right: 89.6%;
  left: 7.62%;
  display: none;
}
.component-4-child22 {
  right: 86.43%;
  left: 10.79%;
}
.component-4-child23 {
  right: 83.38%;
  left: 13.84%;
  display: none;
}
.component-4-child24,
.component-4-child25 {
  display: none;
}
.component-4-child24 {
  right: 80.32%;
  left: 16.9%;
}
.component-4-child25 {
  right: 77.28%;
  left: 19.95%;
}
.component-4-child26 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d-box-icon2 {
  height: 33.33%;
  width: 1.25%;
  top: 32.5%;
  right: 93.47%;
  bottom: 34.17%;
  left: 5.28%;
}
.d-box-icon2,
.group-icon10,
.group-icon9 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6 {
  height: 33.33%;
  top: 32.5%;
  bottom: 34.17%;
}
.vector-icon6,
.vector-icon7 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6 {
  width: 1.28%;
  right: 84.15%;
  left: 14.57%;
}
.component-4-child26 {
  height: 31.63%;
  width: 1.39%;
  top: 33.35%;
  right: 81.03%;
  bottom: 35.02%;
  left: 17.58%;
}
.vector-icon7 {
  width: 1.39%;
}
.group-icon9 {
  top: 32.5%;
}
.vector-icon7 {
  height: 33.33%;
  top: 32.5%;
  right: 77.9%;
  bottom: 34.17%;
  left: 20.71%;
}
.group-icon9 {
  height: 33.34%;
  width: 1.25%;
  right: 10.58%;
  bottom: 34.16%;
  left: 88.17%;
}
.group-icon10 {
  height: 26.67%;
  width: 1.39%;
  top: 35.83%;
  right: 74.78%;
  bottom: 37.5%;
  left: 23.83%;
}
.component-4-child27 {
  position: absolute;
  height: 41.67%;
  width: 27.78%;
  top: 28.33%;
  right: 31.72%;
  bottom: 30%;
  left: 40.5%;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
}
.privacy-mode2 {
  position: absolute;
  top: 38.33%;
}
.search2 {
  left: 43.98%;
}
.search2,
.von-payumo2 {
  position: absolute;
  top: 38.33%;
}
.privacy-mode2 {
  left: 78.91%;
}
.von-payumo2 {
  left: 90.8%;
  text-align: right;
}
.component-4-child28,
.group-icon11 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon11 {
  height: 20%;
  width: 0.83%;
  top: 39.17%;
  right: 57.62%;
  bottom: 40.83%;
  left: 41.55%;
}
.component-4-child28 {
  height: 33.34%;
  width: 1.39%;
  right: 28.94%;
  left: 69.67%;
}
.component-4-child28,
.group-icon12 {
  top: 32.5%;
  bottom: 34.17%;
}
.group-icon12,
.knob-icon2,
.track-icon2,
.vector-icon8 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon12 {
  height: 33.33%;
  width: 1.49%;
  right: 90.25%;
  left: 8.26%;
}
.track-icon2 {
  height: 25%;
  width: 2.08%;
  top: 61.67%;
  right: 11.51%;
  bottom: 13.33%;
  left: 86.41%;
}
.knob-icon2 {
  height: 20%;
  width: 0.83%;
  top: 59.17%;
  right: 13.87%;
  bottom: 20.83%;
  left: 85.29%;
}
.vector-icon8 {
  height: 33.33%;
  width: 1.3%;
  top: 32.5%;
  right: 87.19%;
  bottom: 34.17%;
  left: 11.51%;
}
.component-42 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 60px;
  display: none;
}
.span1 {
  font-weight: 600;
}
.in-total-there-container {
  position: relative;
}
.in-total-there-is-344-active-u-wrapper {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
}
.appraisals-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.this-month {
  position: relative;
  font-weight: 600;
}
.remix-iconslinesystemarrow- {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-parent9,
.this-month-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.this-month-parent {
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-500);
  box-sizing: border-box;
  height: 43px;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-base);
  justify-content: flex-start;
  gap: var(--gap-9xs);
  opacity: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.frame-parent9 {
  align-self: stretch;
  padding: var(--padding-5xs) 0;
  justify-content: space-between;
}
.search-parent {
  width: 363px;
  border: 0;
  background-color: transparent;
}
.date-filter {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.remix-iconslinebusinesscale {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.date-filter-parent,
.frame-parent11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.date-filter-parent {
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-whitesmoke-500);
  box-sizing: border-box;
  height: 40px;
  padding: var(--padding-7xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.frame-parent11 {
  align-self: stretch;
  background-color: var(--color-white);
  padding: 0 0 var(--padding-base);
  gap: var(--gap-base);
}
.table-token {
  align-self: stretch;
  flex: 1;
}
.name {
  margin: 0;
  position: relative;
}
.table-token1 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.group-icon13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.table-token5 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-white);
  display: none;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.remix-iconsfillsystemarrow-5 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.column-header,
.table-token6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.table-token6 {
  background-color: var(--color-white);
  width: 113px;
  flex-shrink: 0;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-5xs);
}
.column-header {
  align-items: flex-start;
  z-index: 0;
  color: var(--color-slategray);
}
.car-name,
.table-token-child {
  position: relative;
  flex-shrink: 0;
}
.table-token-child {
  align-self: stretch;
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 40px;
  object-fit: cover;
}
.car-name {
  font-weight: 600;
  display: inline-block;
  width: 295px;
}
.table-token7 {
  gap: var(--gap-5xs);
}
.table-token7,
.table-token8 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
}
.user-name1 {
  margin: 0;
  position: relative;
  font-weight: 600;
}
.offer-won {
  position: relative;
  font-weight: 500;
}
.table-token10,
.tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tag {
  border-radius: var(--br-41xl);
  background-color: var(--color-mediumseagreen-200);
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: flex-start;
}
.table-token10 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-white);
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.table-token-item {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  object-fit: cover;
}
.user-name3 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.table-token12 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-white);
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.remix-iconsfillsystemmore-2 {
  position: relative;
  border-radius: var(--br-31xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.table-token13 {
  align-self: stretch;
  background-color: var(--color-white);
  width: 113px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.column,
.tag1 {
  align-items: flex-start;
}
.column {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
}
.tag1 {
  cursor: pointer;
  border-radius: var(--br-41xl);
  background-color: var(--color-indianred);
  padding: var(--padding-7xs) var(--padding-xs);
}
.column1,
.table-token17,
.tag1,
.tag2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.table-token17 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-white);
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.column1,
.tag2 {
  align-items: flex-start;
}
.column1 {
  align-self: stretch;
  z-index: 2;
}
.tag2 {
  cursor: pointer;
  border-radius: var(--br-41xl);
  background-color: var(--color-dodgerblue);
  padding: var(--padding-7xs) var(--padding-xs);
}
.remix-iconsfillsystemmore-2-formselect {
  width: 24px;
  position: relative;
}
.column2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.pending {
  cursor: pointer;
  position: relative;
  font-weight: 500;
}
.tag3 {
  cursor: pointer;
  border-radius: var(--br-41xl);
  background-color: #f29903;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.column3 {
  align-self: stretch;
  z-index: 4;
}
.column3,
.column4,
.tag4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag4 {
  cursor: pointer;
  border-radius: var(--br-41xl);
  background-color: var(--color-mediumseagreen-200);
  padding: var(--padding-7xs) var(--padding-xs);
}
.column4 {
  align-self: stretch;
  z-index: 5;
}
.remix-iconslinesystemzoom-i {
  position: absolute;
  margin: 0 !important;
  top: 78px;
  left: 28px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 6;
}
.table-content {
  align-self: stretch;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 2px;
}
.table-content-wrapper {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  padding: var(--padding-5xl) var(--padding-base) var(--padding-5xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.frame-main,
.frame-parent10,
.table-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent10 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border-top: 1px solid var(--color-whitesmoke-500);
  border-right: 1px solid var(--color-whitesmoke-500);
  border-bottom: 2px solid var(--color-whitesmoke-500);
  border-left: 1px solid var(--color-whitesmoke-500);
  overflow: hidden;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-5xs);
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.frame-main {
  position: absolute;
  width: calc(100% - 231px);
  top: 100px;
  right: 32px;
  left: 199px;
  gap: var(--gap-base);
  text-align: left;
  font-size: 40px;
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
.remix-iconslinesystemdashbo {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.dashboard {
  margin: 0;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-300);
  text-align: left;
}
.dash-token {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  z-index: 0;
}
.dash-token1 {
  align-self: stretch;
  z-index: 1;
}
.remix-iconslinedocumentfile {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
  z-index: 0;
}
.dash-tokenvariant3-child {
  margin: 0 !important;
  position: absolute;
  top: 11px;
  left: 37px;
  border-radius: var(--br-45xl);
  background-color: #ff3d00;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.dashboard1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray-300);
  text-align: left;
  display: none;
  z-index: 2;
}
.dash-tokenvariant3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xs);
  z-index: 2;
}
.nav,
.nav-child {
  position: absolute;
}
.nav-child {
  margin: 0 !important;
  top: 954px;
  left: calc(50% - 83.5px);
  z-index: 3;
}
.nav {
  height: calc(100% - 69px);
  top: 69px;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-whitesmoke-500);
  box-sizing: border-box;
  width: 167px;
  display: flex;
  flex-direction: column;
  padding: 40px 0 var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-inner {
  position: relative;
  width: 119px;
  height: 32px;
  flex-shrink: 0;
  object-fit: cover;
}
.search-for-a-car-or-a-model-parent {
  border: 0;
  background-color: transparent;
  flex: 1;
}
.frame-icon {
  border-radius: var(--br-41xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child1 {
  position: relative;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  object-fit: cover;
}
.meddour-m-lamine-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.ellipse-parent {
  border-radius: var(--br-45xl);
  background-color: #f0fcff;
  height: 44px;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: 10px;
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.ellipse-parent,
.frame-header,
.frame-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-section {
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-whitesmoke-500);
  box-sizing: border-box;
  padding: var(--padding-xs) 33px;
  justify-content: flex-start;
  gap: 100px;
}
.appraisals {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 64px 250px rgba(181, 183, 200, 0.25);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
